.rightSide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .sectionHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.6rem;
        border-bottom: 1px solid rgba(113, 119, 144, 0.25);
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.6rem;
            a {
                text-decoration: none;
                color: rgba(113, 119, 144, 0.78);
                padding: 0.6rem 0.9rem;
                border-bottom: 2px solid transparent;
                &:hover {
                    color: aliceblue;
                    border-bottom: 2px solid aliceblue;
                }
            }
        }
    }
    .rightChildBody {
        padding: 1.2rem 2.4rem;
        height: 68vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(47, 62, 77, 0.4);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(14, 30, 46, 0.4);
            border-radius: 10px;
        }
        @import "./mainBody/adobeAds/adobe.scss";
        @import "./mainBody/softwares/software.scss";
        @import "./mainBody/appsPlan/appsPlan.scss";
    }
}
