$darkModeBgColor: #21242d;
$darkModeIconColor: #ffce45;

* {
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.light-mode {
        .videoBackground:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.72) 0%,
                rgba(255, 255, 255, 0.45) 100%
            );
            -webkit-backdrop-filter: saturate(3);
            backdrop-filter: saturate(3);
        }
    }
    & .darkMode {
        position: fixed;
        bottom: 50px;
        right: 30px;
        background-color: $darkModeBgColor;
        box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 50%;
        z-index: 3;
        cursor: pointer;

        svg {
            color: $darkModeIconColor;
            width: 24px;
        }
    }
}

.App {
    border-radius: 0.5rem;
    color: black;
    // height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #videoBackground {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    }

    .contentApp {
        background-color: rgba(16, 18, 27, 0.55);
        backdrop-filter: blur(20px);
        border-radius: 0.5rem;
        max-width: 1250px;
        max-height: 860px;
        width: 100%;
        overflow: hidden;
        @import "../src/Components/PageHeader/Header.scss";
        @import "./Components/pages/otherPages.scss";
        .pageBody {
            display: flex;
            @import "./Components/Left/LeftSide.scss";
            @import "./Components/RightSide/RightSide.scss";
        }
    }
}

@media (max-width: 1024px) {
    .pageNav {
        ul {
            li:nth-child(even) {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .pageNav {
        .iconBox {
            svg:nth-child(even) {
                display: none;
            }
        }
    }
    .leftSide {
        display: none;
    }
    .adobeAds {
        figure {
            img {
                width: 120px;
            }
        }
    }
}

@media (max-width: 530px) {
    body {
        display: none;
    }
}
